---
---

@import "minima";
table{
    table-layout:fixed;
    border: 2px solid #fdfdfd;
}

.quote{
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    width: 800px;
    }

.first-letter {
  font-size: 25px;
  line-height: 50px;
}